body {
  margin: 0;
  padding: 0;
  background-color: #37474F;
  text-align: center;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 300;
  color: #fafdff;
}

a {
  color: #fafdff;
}

#header {

}

#logo {
  width: 30%;
  height: auto;
  margin-top: 50px;
}

#menu {

}

.menu-item {
  width: 180px;
  height: 120px;
  margin: 10px;
}

#content {

}

.section {
  border-top: 2px solid #1a2935;
  max-width: 600px;
  min-height: 100px;
  margin: 0 auto;
}

#footer {
  background-color: #1a2935;
  padding: 20px;
  font-size: 13px;
  margin-top: 50px;
}
