body {
  margin: 0;
  padding: 0;
  background-color: #37474F;
  text-align: center;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 300;
  color: #fafdff;
}

a {
  color: #fafdff;
}

#header {
  background: #37474F;
  background-image: -webkit-radial-gradient(circle, #607D8B, #37474F);
  background-image: -moz-radial-gradient(circle, #607D8B, #37474F);
  background-image: -o-radial-gradient(circle, #607D8B, #37474F);
  background-image: radial-gradient(circle, #607D8B, #37474F);
  border-bottom: 2px solid #263238;
}

#logo {
  width: 30%;
  height: auto;
  margin: 32px 0 16px 0;
  max-width: 360px;
}

#menu {
  margin-bottom: 4px;
}

.menu-item {
  width: 96px;
  height: 96px;
  margin: 4px;
}

#content {

}

.section {
  max-width: 700px;
  border-bottom: 2px solid #263238;
  min-height: 100px;
  margin: 0 auto;
  padding: 16px;
  text-align: left;
}

.section-icon {
  width: 128px;
  height: 128px;
  float: left;
}

.section-back {
  width: 32px;
  height: 32px;
  float: right;
}

.section-title {
  display: block;
  text-align: left;
  padding: 12px 0;
  margin-left: 140px;
  font-size: 30px;
  color: #ECEFF1;
}

.section-links {
  display: block;
  margin-left: 140px;
  text-align: left;
}

.section-badge {
  width: 128px;
}

.section-description {
  display: inline-block;
  white-space: pre-line;
  text-align: left;
  font-size: 14px;
  padding: 10px;
  margin-bottom: 20px;
  color: #CFD8DC;
}

.section-media {
  text-align: left;
}

.section-image {
  display: inline-block;
  width: auto;
  height: 250px;
  margin: 8px;
}

.section-video {
  display: inline-block;
  width: 320px; /* 16:9 = 444px */
  height: 250px;
  margin: 8px;
}

#footer {
  background-color: #1a2935;
  padding: 20px;
  font-size: 13px;
  margin-top: 50px;
}

@media screen and (max-width: 680px) {
  #logo {
    width: 200px;
    height: auto;
  }
  .section-media {
    text-align: center;
  }
}
